Repository ECE-458-Books/ece458books, pull requests merged in 2023-02, with the labels that each got.

#62 Create Navigation Bar
  frontend/.eslintrc.json
  frontend/.prettierignore
  frontend/.prettierrc.json
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/navbar.tsx
  frontend/src/components/router.tsx
  frontend/src/index.tsx
  frontend/src/pages/bookList.tsx
  frontend/src/pages/genreList.tsx
  frontend/src/pages/loginPage.tsx
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
  package-lock.json
Labels: feature, frontend

#67 Create List Views
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Navbar.tsx
  frontend/src/components/Router.tsx
  frontend/src/components/Table.tsx
  frontend/src/index.tsx
  frontend/src/pages/BookList.tsx
  frontend/src/pages/GenreList.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/PurchaseOrderList.tsx
  frontend/src/pages/SalesReconciliationList.tsx
  frontend/src/pages/VendorList.tsx
  frontend/src/pages/bookList.tsx
  frontend/src/pages/genreList.tsx
Labels: feature, frontend

#68 Fixed authentication endpoint problem
  backend/books/views.py
Labels: bug, backend

#69 [BackEnd] Add Books pagination/filtering Feature
  backend/books/migrations/0003_alter_book_height_alter_book_pagecount_and_more.py
  backend/books/models.py
  backend/books/paginations.py
  backend/books/serializers.py
  backend/books/views.py
Labels: feature, backend

#71 [FrontEnd] Create Detail View
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ConfirmButton.tsx
  frontend/src/components/ModifyButton.tsx
  frontend/src/components/Router.tsx
  frontend/src/components/Table.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/add/GenreAdd.tsx
  frontend/src/pages/add/POAdd.tsx
  frontend/src/pages/add/SRAdd.tsx
  frontend/src/pages/add/VendorAdd.tsx
  frontend/src/pages/detail/GenreDetail.tsx
  frontend/src/pages/detail/ModfiyBook.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/VendorDetail.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/pages/list/VendorList.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: feature, frontend

#72 [BackEnd] Add Genre List/Create/Modify/Delete Feature
  backend/books/migrations/0004_delete_genre_alter_book_genres.py
  backend/books/models.py
  backend/books/serializers.py
  backend/books/views.py
  backend/genres/__init__.py
  backend/genres/apps.py
  backend/genres/migrations/0001_initial.py
  backend/genres/migrations/0002_genre_book_cnt.py
  backend/genres/migrations/0003_alter_genre_book_cnt.py
  backend/genres/migrations/0004_remove_genre_book_cnt.py
  backend/genres/migrations/__init__.py
  backend/genres/models.py
  backend/genres/paginations.py
  backend/genres/serializers.py
  backend/genres/tests.py
  backend/genres/urls.py
  backend/genres/views.py
  backend/hypothetical_books_backend/settings.py
  backend/hypothetical_books_backend/urls.py
Labels: feature, backend

#78 [BackEnd] Add Vendor List/Create/Modify/Delete Feature
  backend/hypothetical_books_backend/settings.py
  backend/hypothetical_books_backend/urls.py
  backend/vendors/__init__.py
  backend/vendors/apps.py
  backend/vendors/migrations/0001_initial.py
  backend/vendors/migrations/__init__.py
  backend/vendors/models.py
  backend/vendors/paginations.py
  backend/vendors/serializers.py
  backend/vendors/tests.py
  backend/vendors/urls.py
  backend/vendors/views.py
Labels: feature, backend

#91 [BackEnd] Added Books Search Filter Option
  backend/books/search_filters.py
  backend/books/views.py
Labels: feature, backend

#92 [FrontEnd] Load Booklist Data and Create API Scaffolding
  certbot/conf/.tmp
  frontend/.env.development
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/Config.tsx
  frontend/src/apis/GenresAPI.tsx
  frontend/src/apis/PurchasesAPI.tsx
  frontend/src/apis/SalesAPI.tsx
  frontend/src/apis/VendorsAPI.tsx
  frontend/src/components/DeletePopup.tsx
  frontend/src/components/Table.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/pages/list/VendorList.tsx
  frontend/src/util/EditDeleteTemplate.tsx
  package-lock.json
Labels: feature, frontend, integration

#93 Refactor Detail/Add Views
  frontend/src/components/Router.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/add/GenreAdd.tsx
  frontend/src/pages/add/VendorAdd.tsx
  frontend/src/pages/detail/GenreDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/VendorDetail.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
Labels: frontend, refactor

#96 [FrontEnd] Logging and Link Changes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/Config.tsx
  frontend/src/index.tsx
  frontend/src/pages/add/GenreAdd.tsx
  frontend/src/pages/add/VendorAdd.tsx
  frontend/src/pages/detail/ModfiyBook.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/pages/list/VendorList.tsx
  frontend/src/util/Logger.tsx
Labels: frontend

#80 Sales endpoint
  backend/hypothetical_books_backend/settings.py
  backend/hypothetical_books_backend/urls.py
  backend/sales/__init__.py
  backend/sales/apps.py
  backend/sales/migrations/0001_initial.py
  backend/sales/migrations/0002_alter_sale_book.py
  backend/sales/migrations/0003_remove_sale_book_sale_book.py
  backend/sales/migrations/0004_remove_sale_book_sale_book.py
  backend/sales/migrations/0005_sale_revenue.py
  backend/sales/migrations/__init__.py
  backend/sales/models.py
  backend/sales/paginations.py
  backend/sales/sales_reconciliation.py
  backend/sales/serializers.py
  backend/sales/tests.py
  backend/sales/urls.py
  backend/sales/views.py
Labels: feature, backend

#100 [BackEnd] Create purchase orders
  backend/hypothetical_books_backend/settings.py
  backend/hypothetical_books_backend/urls.py
  backend/purchase_orders/__init__.py
  backend/purchase_orders/apps.py
  backend/purchase_orders/migrations/0001_initial.py
  backend/purchase_orders/migrations/__init__.py
  backend/purchase_orders/models.py
  backend/purchase_orders/paginations.py
  backend/purchase_orders/purchase_order.py
  backend/purchase_orders/serializers.py
  backend/purchase_orders/tests.py
  backend/purchase_orders/urls.py
  backend/purchase_orders/views.py
Labels: feature, backend

#102 [BugFix] Fixed publisher search filter on books
  backend/books/search_filters.py
Labels: bug, backend

#106 Removing appended slashes from all API endpoints
  backend/authapp/urls.py
  backend/books/urls.py
  backend/genres/urls.py
  backend/hypothetical_books_backend/settings.py
  backend/hypothetical_books_backend/urls.py
  backend/purchase_orders/urls.py
  backend/sales/urls.py
  backend/vendors/urls.py
Labels: integration

#111 Enable ability to list all pieces of data
  backend/books/views.py
  backend/genres/views.py
  backend/purchase_orders/views.py
  backend/sales/views.py
  backend/vendors/views.py
Labels: feature, backend

#105 [FrontEnd] Genre and Vendor API Integration
  frontend/src/apis/GenresAPI.tsx
  frontend/src/apis/VendorsAPI.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/add/GenreAdd.tsx
  frontend/src/pages/add/VendorAdd.tsx
  frontend/src/pages/detail/GenreDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/VendorDetail.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/VendorList.tsx
Labels: integration

#112 Change format faulty isbns
  backend/books/isbn.py
  backend/books/views.py
Labels: bug, integration

#121 Move calculations for calculated fields to serializers
  backend/purchase_orders/purchase_order.py
  backend/purchase_orders/serializers.py
  backend/purchase_orders/views.py
  backend/sales/sales_reconciliation.py
  backend/sales/serializers.py
  backend/sales/views.py
Labels: bug, refactor

#122 [BugFix] Bugfix devops https security
  backend/hypothetical_books_backend/settings.py
  docker-compose.yml
Labels: bug, backend, devops

#128 [BackEnd] Change envfile location
  backend/hypothetical_books_backend/settings.py
Labels: backend, refactor

#124 [FrontEnd] CSS-Styling Add & Modify All Pages except Books.
  frontend/.env.development
  frontend/src/apis/SalesAPI.tsx
  frontend/src/components/ConfirmButton.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/add/GenreAdd.tsx
  frontend/src/pages/add/VendorAdd.tsx
  frontend/src/pages/detail/GenreDetail.tsx
  frontend/src/pages/detail/ModfiyBook.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/VendorDetail.tsx
  frontend/src/pages/list/SRList.tsx
Labels: feature, frontend

#129 [BugFix] Bugfix change pagination next
  backend/books/paginations.py
  backend/genres/paginations.py
  backend/purchase_orders/paginations.py
  backend/sales/paginations.py
  backend/utils/__init__.py
  backend/utils/paginations.py
  backend/vendors/paginations.py
Labels: bug, backend, refactor

#132 [FrontEnd] Fix pagination bug
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/pages/list/VendorList.tsx
Labels: bug, feature

#140 [BugFix] Bugfix Backend Genre Sort by book_cnt
  backend/genres/views.py
Labels: bug, backend

#141 [BugFix] Added Vendor Delete iff No PO Related & Changed Status Error to 409
  backend/genres/views.py
  backend/vendors/serializers.py
  backend/vendors/views.py
Labels: bug, backend

#143 [BugFix] Bugfix backend books ghost isbn unique
  backend/books/isbn.py
  backend/books/migrations/0005_book_isghost_alter_book_isbn_13.py
  backend/books/migrations/0006_alter_book_isghost.py
  backend/books/migrations/0007_alter_book_isghost.py
  backend/books/models.py
  backend/books/serializers.py
  backend/books/views.py
  certbot/conf/.tmp
Labels: bug, backend

#142 [Front-End] Data Population Add/Modify & List Pages SR and PO
  frontend/src/apis/PurchasesAPI.tsx
  frontend/src/apis/SalesAPI.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/auth/PasswordChange.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/pages/list/VendorList.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: frontend, integration

#125 Sales Report
  backend/sales/migrations/0006_rename_book_sale_book_id.py
  backend/sales/migrations/0007_rename_book_id_sale_book.py
  backend/sales/serializers.py
  backend/sales/urls.py
  backend/sales/views.py
Labels: feature, backend

#153 [BugFix] PO Sortable by Vendor Name
  backend/purchase_orders/views.py
Labels: bug, backend

#152 [BugFix] Changed PO default Pagination to 10
  backend/purchase_orders/paginations.py
Labels: bug, backend

#154 [FrontEnd] Integrate Purchase Orders/Sales Reconciliation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/PurchasesAPI.tsx
  frontend/src/apis/SalesAPI.tsx
  frontend/src/apis/VendorsAPI.tsx
  frontend/src/components/Table.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/util/DateOperations.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: feature, frontend, integration

#157 [BugFix] Disallow Purchase Orders to have no Orders
  backend/purchase_orders/serializers.py
Labels: bug, backend

#156 [BugFix] Disallow Sales Reconciliation to have no Sales
  backend/sales/serializers.py
Labels: bug, backend

#158 [FrontEnd] Sales Report
  frontend/src/ImaginarySoftwareLogo.jpeg
  frontend/src/apis/SalesRepAPI.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Router.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/add/GenreAdd.tsx
  frontend/src/pages/add/VendorAdd.tsx
  frontend/src/pages/auth/PasswordChange.tsx
  frontend/src/pages/detail/GenreDetail.tsx
  frontend/src/pages/detail/ModfiyBook.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/list/SalesReport.tsx
  frontend/src/util/PasswordChecks.tsx
Labels: feature, frontend

#159 [Front-End] Multiple Genre & Vendor Add simultaneously
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/add/GenreAdd.tsx
  frontend/src/pages/add/VendorAdd.tsx
Labels: feature, frontend

#161 [BugFix] add stock field to books
  backend/books/models.py
  backend/books/serializers.py
Labels: bug, backend

#166 [BackEnd] Extended Lifetime for Access/Refresh Tokens
  backend/hypothetical_books_backend/settings.py
Labels: backend

#167 [Backend] Add Cost Subtotal for Purchases & Sales
  backend/purchase_orders/serializers.py
  backend/sales/serializers.py
Labels: feature, backend

#169 [Front-End] Fixed Bugs on final deployment
  frontend/src/apis/PurchasesAPI.tsx
  frontend/src/apis/SalesAPI.tsx
  frontend/src/pages/detail/ModfiyBook.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: bug, frontend

#170 [Front-end] Toast Error created on Sales Report Page for 500 error
  frontend/src/apis/SalesRepAPI.tsx
  frontend/src/pages/detail/ModfiyBook.tsx
  frontend/src/pages/list/SalesReport.tsx
Labels: bug, frontend

#177 [DevOps] Added Restart:Always Policy to Production Containers
  docker-compose.yml
Labels: devops

#200 Update Regex to Allow CORS policy from localhost and books-front.colab.duke.edu
  backend/hypothetical_books_backend/settings.py
Labels: bug, backend

#201 [DevOps] Allow books-front to deploy backend
  backend/hypothetical_books_backend/settings.py
Labels: devops

#202 [DevOps] Configure Jenkins Auto Deploy
  backend/hypothetical_books_backend/settings.py
  deploy.sh
Labels: feature, devops

#206 [FrontEnd] Refactor API Layer
  frontend/package-lock.json
  frontend/src/apis/AuthAPI.tsx
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/Config.tsx
  frontend/src/apis/Conversions.tsx
  frontend/src/apis/GenresAPI.tsx
  frontend/src/apis/PurchasesAPI.tsx
  frontend/src/apis/SalesAPI.tsx
  frontend/src/apis/SalesRepAPI.tsx
  frontend/src/apis/VendorsAPI.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/add/GenreAdd.tsx
  frontend/src/pages/add/VendorAdd.tsx
  frontend/src/pages/auth/PasswordChange.tsx
  frontend/src/pages/detail/GenreDetail.tsx
  frontend/src/pages/detail/ModfiyBook.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/VendorDetail.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/pages/list/SalesReport.tsx
  frontend/src/pages/list/VendorList.tsx
Labels: frontend, refactor

#240 [FrontEnd] Explicitly define type of state variables
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/Config.tsx
  frontend/src/apis/GenresAPI.tsx
  frontend/src/apis/PurchasesAPI.tsx
  frontend/src/apis/SalesAPI.tsx
  frontend/src/apis/VendorsAPI.tsx
  frontend/src/components/ConfirmPopup.tsx
  frontend/src/components/Router.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/add/GenreAdd.tsx
  frontend/src/pages/add/VendorAdd.tsx
  frontend/src/pages/auth/PasswordChange.tsx
  frontend/src/pages/detail/GenreDetail.tsx
  frontend/src/pages/detail/ModfiyBook.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/VendorDetail.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/pages/list/SalesReport.tsx
  frontend/src/pages/list/VendorList.tsx
Labels: frontend, refactor

#241 [FrontEnd] Columns creation refactor
  frontend/src/components/Table.tsx
  frontend/src/components/TableColumns.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/pages/list/SalesReport.tsx
  frontend/src/pages/list/VendorList.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: frontend, refactor

#273 [Docs] Update pull request template
  docs/pull_request_template.md
Labels: documentation

#274 Sales and Purchases Dummy Endpoints for CSV Import
  backend/purchase_orders/urls.py
  backend/purchase_orders/views.py
  backend/sales/urls.py
  backend/sales/views.py
Labels: feature, backend

#290 Update sales csv endpoint to /sales_reconciliation/csv/import
  backend/sales/urls.py
Labels: backend

#275 262 books buyback hardcoded endpoints
  backend/buybacks/__init__.py
  backend/buybacks/apps.py
  backend/buybacks/migrations/__init__.py
  backend/buybacks/models.py
  backend/buybacks/paginations.py
  backend/buybacks/tests.py
  backend/buybacks/urls.py
  backend/buybacks/views.py
  backend/hypothetical_books_backend/settings.py
  backend/hypothetical_books_backend/urls.py
Labels: feature, backend

#294 BugFix: Sales Report should only show top 10 books
  backend/sales/views.py
Labels: bug, backend

#291 [FrontEnd] CSV Import for PO/SR
  .gitignore
  frontend/.env.development
  frontend/package-lock.json
  frontend/src/apis/AuthAPI.tsx
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/Conversions.tsx
  frontend/src/apis/PurchasesAPI.tsx
  frontend/src/apis/SalesAPI.tsx
  frontend/src/apis/VendorsAPI.tsx
  frontend/src/components/CSVFileUploader.tsx
  frontend/src/components/TableColumns.tsx
  frontend/src/components/Toast.tsx
  frontend/src/components/dropdowns/BookDropdown.tsx
  frontend/src/components/dropdowns/GenreDropdown.tsx
  frontend/src/components/dropdowns/VendorDropdown.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/detail/ModfiyBook.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/errors/CSVImportErrors.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/pages/list/VendorList.tsx
  frontend/src/util/EditDeleteTemplate.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: feature, frontend

#293 Implement CSV format checking, logic checking, and parsing for Sales and Purchases
  backend/helpers/csv_column_headers.py
  backend/helpers/csv_exceptions.py
  backend/helpers/csv_format_checker.py
  backend/helpers/csv_reader.py
  backend/purchase_orders/views.py
  backend/sales/views.py
Labels: feature, backend

#317 Update requirements.txt to include pandas
  backend/requirements.txt
Labels: bug, backend

#312 [Front-End] Images Created and Integrated
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/Conversions.tsx
  frontend/src/apis/ImagesAPI.tsx
  frontend/src/components/ImageFileUploader.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/dropdowns/GenreDropdown.tsx
  frontend/src/pages/detail/GenreDetail.tsx
  frontend/src/pages/detail/ModfiyBook.tsx
  frontend/src/pages/detail/VendorDetail.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/SalesReport.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: feature, frontend

#287 [BackEnd] Feature for Books Image API Added
  backend/books/isbn.py
  backend/books/migrations/0010_bookimage.py
  backend/books/models.py
  backend/books/scpconnect.py
  backend/books/serializers.py
  backend/books/urls.py
  backend/books/views.py
  backend/requirements.txt
  backend/utils/scp.py
Labels: feature, backend

#321 Call API from detail view instead of passing in data
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/Conversions.tsx
  frontend/src/apis/GenresAPI.tsx
  frontend/src/apis/ImagesAPI.tsx
  frontend/src/apis/PurchasesAPI.tsx
  frontend/src/apis/SalesAPI.tsx
  frontend/src/apis/VendorsAPI.tsx
  frontend/src/components/Router.tsx
  frontend/src/components/dropdowns/BookDropdown.tsx
  frontend/src/components/dropdowns/GenreDropdown.tsx
  frontend/src/components/popups/ConfirmPopup.tsx
  frontend/src/components/popups/DeletePopup.tsx
  frontend/src/components/uploaders/CSVFileUploader.tsx
  frontend/src/components/uploaders/ImageFileUploader.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/detail/BookDetail.tsx
  frontend/src/pages/detail/GenreDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/VendorDetail.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/pages/list/VendorList.tsx
  frontend/src/util/DateOperations.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: frontend, refactor

#324 Enable sorting for all book list fields
  frontend/src/apis/Conversions.tsx
  frontend/src/pages/list/BookList.tsx
Labels: bug, frontend

#325 Change app name
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/manifest.json
Labels: bug, frontend

#326 Default sale price to that of the book
  frontend/src/apis/BooksAPI.tsx
  frontend/src/components/dropdowns/BookDropdown.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
Labels: feature, frontend

#310 Refactor Sales/Purchases Endpoints
  backend/helpers/base_serializers.py
  backend/purchase_orders/serializers.py
  backend/sales/serializers.py
  backend/sales/views.py
Labels: backend, refactor

#344 Backend Image API
  backend/Dockerfile
  backend/books/isbn.py
  backend/books/migrations/0011_alter_bookimage_book.py
  backend/books/migrations/0012_remove_bookimage_id_alter_bookimage_book.py
  backend/books/models.py
  backend/books/scpconnect.py
  backend/books/search_filters.py
  backend/books/serializers.py
  backend/books/urls.py
  backend/books/utils.py
  backend/books/views.py
  backend/hypothetical_books_backend/settings.py
  backend/hypothetical_books_backend/urls.py
  backend/hypothetical_books_backend/version.py
  backend/requirements.txt
  backend/utils/scp.py
Labels: feature, backend

#347 Implement Buybacks CRUD
  backend/books/migrations/0013_alter_bookimage_book.py
  backend/buybacks/migrations/0001_initial.py
  backend/buybacks/migrations/0002_rename_cost_buyback_revenue.py
  backend/buybacks/models.py
  backend/buybacks/serializers.py
  backend/buybacks/views.py
  backend/sales/serializers.py
Labels: feature, backend

#349 Add BuyBack Rate to Vendor
  backend/books/migrations/0013_alter_bookimage_book.py
  backend/books/models.py
  backend/books/serializers.py
  backend/hypothetical_books_backend/settings.py
  backend/requirements.txt
  backend/utils/general.py
  backend/vendors/migrations/0002_vendor_buyback_rate.py
  backend/vendors/models.py
  backend/vendors/serializers.py
  backend/vendors/views.py
Labels: feature, backend

#350 Implement bookslist filtering by books sold by a given vendor
  backend/books/views.py
Labels: feature, backend

#345 Dynamic URLS
  frontend/public/manifest.json
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/Conversions.tsx
  frontend/src/apis/GenresAPI.tsx
  frontend/src/apis/ImagesAPI.tsx
  frontend/src/apis/PurchasesAPI.tsx
  frontend/src/apis/SalesAPI.tsx
  frontend/src/apis/VendorsAPI.tsx
  frontend/src/components/Router.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/pages/detail/BookDetail.tsx
  frontend/src/pages/detail/GenreDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/VendorDetail.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/pages/list/VendorList.tsx
Labels: feature, frontend

#352 Shelf calculator
  frontend/src/components/Navbar.tsx
  frontend/src/components/Router.tsx
  frontend/src/components/buttons/AddRowButton.tsx
  frontend/src/components/dropdowns/DisplayModeDropdown.tsx
  frontend/src/pages/ShelfCalculator.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/util/AddNewRow.tsx
  frontend/src/util/EditDeleteTemplate.tsx
  frontend/src/util/FindBy.tsx
  frontend/src/util/IDOperations.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: feature, frontend

#346 Shelf calculator and browser wide login
  frontend/package.json
  frontend/src/apis/AuthAPI.tsx
  frontend/src/apis/Config.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Router.tsx
  frontend/src/components/buttons/AddRowButton.tsx
  frontend/src/components/dropdowns/DisplayModeDropdown.tsx
  frontend/src/pages/ShelfCalculator.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/util/AddNewRow.tsx
  frontend/src/util/AuthCheck.tsx
  frontend/src/util/EditDeleteTemplate.tsx
  frontend/src/util/FindBy.tsx
  frontend/src/util/IDOperations.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: bug, frontend

#354 Implement logic in BookSerializers for getting best buyback price
  backend/books/serializers.py
Labels: feature, backend

#358 Bugfix for disallowing vendors without a buyback policy from having buybacks
  backend/buybacks/serializers.py
  backend/helpers/base_serializers.py
  backend/purchase_orders/serializers.py
  backend/sales/serializers.py
Labels: bug, backend

#361 Bugfix backend images patch
  backend/books/isbn.py
  backend/books/utils.py
  backend/books/views.py
Labels: bug, backend

#363 Bugfix Add Static Dir
  backend/static/.gitkeep
Labels: bug, backend

#359 [Front-End] Book Buy Back List, Detail, Add pages
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/BuyBackAPI.tsx
  frontend/src/apis/Config.tsx
  frontend/src/apis/Conversions.tsx
  frontend/src/apis/SalesAPI.tsx
  frontend/src/apis/VendorsAPI.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Router.tsx
  frontend/src/components/dropdowns/BookDropdown.tsx
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/list/BuyBackList.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: feature, frontend

#364 Implement Buyback List Sorting by Vendor
  backend/buybacks/views.py
  backend/purchase_orders/views.py
Labels: feature, backend

#367 Strip whitespace in CSV
  backend/helpers/csv_reader.py
Labels: bug, backend

#360 Vendor list/detail/add integration for buybacks
  frontend/src/apis/Conversions.tsx
  frontend/src/apis/VendorsAPI.tsx
  frontend/src/components/Router.tsx
  frontend/src/pages/add/VendorAdd.tsx
  frontend/src/pages/detail/VendorDetail.tsx
  frontend/src/pages/list/VendorList.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: feature, frontend

#366 Backend Book Modify dimensions 0 is null
  backend/books/views.py
Labels: bug, backend

#371 Fixed where book is added to db without a bookimage associated
  backend/books/views.py
Labels: bug, backend

#369 Image Integration Fixes
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/Config.tsx
  frontend/src/apis/Conversions.tsx
  frontend/src/apis/ImagesAPI.tsx
  frontend/src/components/dropdowns/BookDropdown.tsx
  frontend/src/components/popups/ConfirmPopup.tsx
  frontend/src/components/uploaders/ImageFileUploader.tsx
  frontend/src/pages/ShelfCalculator.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/pages/auth/PasswordChange.tsx
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/BookDetail.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/SalesReport.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: feature, frontend

#375 [Front-End] Created Page Navigation from BB/SR/PO Detail to Book Detail
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
Labels: feature, frontend

#376 [Front-End] CSS for Detail Views of PO, SR, BB, and Genre
  frontend/src/components/Navbar.tsx
  frontend/src/components/Router.tsx
  frontend/src/components/uploaders/CSVFileUploader.tsx
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/BookDetail.tsx
  frontend/src/pages/detail/GenreDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/list/BuyBackList.tsx
Labels: frontend, refactor

#372 Add Line Items list to Book Detail
  backend/books/serializers.py
Labels: feature, backend

#377 Fix Buyback and Sales Check for Previous Purchase
  backend/buybacks/serializers.py
  backend/sales/serializers.py
Labels: bug, backend

#379 implement buyback csv import
  backend/buybacks/urls.py
  backend/buybacks/views.py
Labels: feature, backend

#387 BugFix Issue with 0/null handling for book modify
  backend/books/views.py
Labels: bug, backend

#394 Send 0 when setting value to null
  frontend/src/apis/BooksAPI.tsx
Labels: bug, frontend

#397 Fix the genres dropdown on the book add page
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/GenresAPI.tsx
  frontend/src/components/dropdowns/BookDropdown.tsx
  frontend/src/components/dropdowns/GenreDropdown.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/BookDetail.tsx
  frontend/src/pages/list/BookList.tsx
Labels: bug, frontend

#395 Fixed initial lookup null bug
  backend/books/views.py
Labels: bug, backend

#393 Refactor detail view components
  frontend/src/components/OneDayCalendar.tsx
  frontend/src/components/buttons/AddRowButton.tsx
  frontend/src/components/buttons/BackButton.tsx
  frontend/src/components/buttons/DeleteButton.tsx
  frontend/src/components/buttons/EditCancelDetailButton.tsx
  frontend/src/components/datatable/DeleteColumn.tsx
  frontend/src/components/popups/ConfirmPopup.tsx
  frontend/src/components/text/AddDetailModifyTitle.tsx
  frontend/src/components/text/TotalDollars.tsx
  frontend/src/components/uploaders/CSVFileUploader.tsx
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/BookDetail.tsx
  frontend/src/pages/detail/GenreDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/VendorDetail.tsx
  frontend/src/util/IDOperations.tsx
Labels: frontend, refactor

#398 Add po to each vendor
  backend/vendors/views.py
Labels: feature, backend

#399 Add last_month_sales field to books list
  backend/books/serializers.py
Labels: feature, backend

#405 Endpoint for default unit buyback price for a book for a vendor
  backend/vendors/urls.py
  backend/vendors/views.py
Labels: feature, backend

#409 Fixed authors input strip issue
  backend/books/views.py
Labels: bug, backend

#415 Bug Fix: Cost Most Recent Saying DNE when is zero
  backend/vendors/views.py
Labels: bug, backend

#416 Backend Export Book CSV
  backend/books/search_filters.py
  backend/books/urls.py
  backend/books/views.py
  backend/helpers/book_switch.py
  backend/helpers/csv_column_headers.py
  backend/helpers/csv_export_formatter.py
  backend/helpers/csv_switch.py
  backend/helpers/csv_writer.py
Labels: feature, backend

#401 Update CSV error handling and implement buyback CSV import
  frontend/src/apis/BuyBackAPI.tsx
  frontend/src/apis/Conversions.tsx
  frontend/src/apis/PurchasesAPI.tsx
  frontend/src/apis/SalesAPI.tsx
  frontend/src/components/Toast.tsx
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/errors/CSVImportErrors.tsx
Labels: feature, frontend

#403 Display line items/allow navigation on book detail page
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/Conversions.tsx
  frontend/src/pages/detail/BookDetail.tsx
  frontend/src/pages/detail/BookDetailLineItems.tsx
  frontend/src/pages/list/BookList.tsx
Labels: feature, frontend

#418 Backend feature csv export added four fields
  backend/books/serializers.py
  backend/helpers/book_switch.py
  backend/helpers/csv_export_formatter.py
  backend/helpers/csv_writer.py
Labels: feature, backend

#422 BugFix Backend Image Format Bug
  backend/books/isbn.py
Labels: bug, backend

#402 [Front-End] Vendor Multi-Add, Refactor Vendor Detail, Add pages, Refactor Genre Add
  frontend/src/components/Router.tsx
  frontend/src/components/buttons/BackButton.tsx
  frontend/src/components/buttons/DeleteButton.tsx
  frontend/src/components/popups/ConfirmPopup.tsx
  frontend/src/pages/add/GenreAdd.tsx
  frontend/src/pages/add/VendorAdd.tsx
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/GenreDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/VendorDetail.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: frontend, refactor

#417 [Front-End] Refactored the List Views for Books, Vendors, Genres, BB, SR, PO
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/BuyBackAPI.tsx
  frontend/src/apis/Conversions.tsx
  frontend/src/apis/PurchasesAPI.tsx
  frontend/src/apis/SalesAPI.tsx
  frontend/src/components/TableColumns.tsx
  frontend/src/components/buttons/AddPageButton.tsx
  frontend/src/components/buttons/LabeledSwitch.tsx
  frontend/src/components/buttons/SelectSizeButton.tsx
  frontend/src/components/dropdowns/GenreDropdown.tsx
  frontend/src/pages/detail/BookDetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/BuyBackList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/pages/list/VendorList.tsx
  frontend/src/util/EditDeleteTemplate.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: frontend, refactor

#414 Default buyback price when selecting new book
  frontend/src/apis/VendorsAPI.tsx
  frontend/src/components/dropdowns/VendorDropdown.tsx
  frontend/src/pages/detail/BBDetail.tsx
Labels: feature, frontend

#421 Change the way images are uploaded on the book add page
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: feature, frontend

#426 Update csv import to take isbn 10
  backend/helpers/csv_column_headers.py
  backend/helpers/csv_exceptions.py
  backend/helpers/csv_format_checker.py
  backend/helpers/csv_reader.py
Labels: bug, backend

#423 [Front-End] Sales report Updated
  frontend/src/apis/Conversions.tsx
  frontend/src/apis/SalesRepAPI.tsx
  frontend/src/pages/list/SalesReport.tsx
Labels: feature, frontend

#429 Booklist CSV export
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/BooksAPI.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/BuyBackList.tsx
  package-lock.json
  package.json
Labels: feature, frontend
