Repository ECE-458-Books/ece458books, pull requests merged in 2023-01, with the labels that each got.

#8 Docker Frontend Setup
  .gitignore
  README.md
  Taskfile.yml
  docker-compose.yml
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
Labels: frontend

#56 Backend server creation
  README.md
  Taskfile.yml
  backend/Dockerfile
  backend/hypothetical_books_backend/__init__.py
  backend/hypothetical_books_backend/asgi.py
  backend/hypothetical_books_backend/settings.py
  backend/hypothetical_books_backend/urls.py
  backend/hypothetical_books_backend/wsgi.py
  backend/manage.py
  backend/polls/__init__.py
  backend/polls/admin.py
  backend/polls/apps.py
  backend/polls/migrations/0001_initial.py
  backend/polls/migrations/0002_todo.py
  backend/polls/migrations/__init__.py
  backend/polls/models.py
  backend/polls/serializers.py
  backend/polls/tests.py
  backend/polls/urls.py
  backend/polls/views.py
  backend/requirements.txt
  docker-compose.yml
Labels: backend

#57 Create Makefile
  Makefile
  README.md
  Taskfile.yml
Labels: documentation, devops

#59 User Authentication
  backend/authapp/__init__.py
  backend/authapp/apps.py
  backend/authapp/migrations/0001_initial.py
  backend/authapp/migrations/__init__.py
  backend/authapp/models.py
  backend/authapp/renderers.py
  backend/authapp/serializers.py
  backend/authapp/tests.py
  backend/authapp/urls.py
  backend/authapp/views.py
  backend/core/exceptions.py
  backend/hypothetical_books_backend/settings.py
  backend/hypothetical_books_backend/urls.py
  backend/polls/admin.py
  backend/polls/migrations/0001_initial.py
  backend/polls/migrations/0002_todo.py
  backend/polls/models.py
  backend/polls/serializers.py
  backend/polls/urls.py
  backend/polls/views.py
  backend/requirements.txt
Labels: feature, backend

#60 Auth API Docs
  .gitignore
  backend/docs/Makefile
  backend/docs/make.bat
  backend/docs/source/authentication.rst
  backend/docs/source/conf.py
  backend/docs/source/index.rst
Labels: documentation, backend

#63 Refactor Auth Endpoints
  backend/authapp/models.py
  backend/authapp/renderers.py
  backend/authapp/serializers.py
  backend/authapp/urls.py
  backend/authapp/views.py
Labels: backend, refactor

#58 Create Login Page
  .gitignore
  Makefile
  backend/hypothetical_books_backend/settings.py
  docker-compose.yml
  frontend/.env.development
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/pages/loginPage.tsx
Labels: feature, frontend, integration
