Repository ECE-458-Books/ece458books, pull requests merged in 2023-03, with the labels that each got.

#431 Remove clear from books dropdown
  frontend/src/components/dropdowns/BookDropdown.tsx
Labels: bug, frontend

#432 Handle null keys
  frontend/src/apis/Conversions.tsx
  frontend/src/components/uploaders/ImageFileUploader.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: bug, frontend

#433 Fix navigation to detail on later pages of list view
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/BuyBackList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/pages/list/VendorList.tsx
Labels: bug, frontend

#428 [Front-End] Navbar updated to be Tab-like
  frontend/src/components/Navbar.tsx
  frontend/src/pages/ShelfCalculator.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/list/BookList.tsx
Labels: frontend, refactor

#434 [Front-End] Fixed No pagination sorting and did slight modification of the tables in detail view.
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/BuyBackAPI.tsx
  frontend/src/apis/Conversions.tsx
  frontend/src/apis/GenresAPI.tsx
  frontend/src/apis/PurchasesAPI.tsx
  frontend/src/apis/SalesAPI.tsx
  frontend/src/components/datatable/DeleteColumn.tsx
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/BuyBackList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: frontend, refactor

#436 Allow highlighting on list view rows
  frontend/src/components/buttons/SelectSizeButton.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/pages/list/BuyBackList.tsx
  frontend/src/pages/list/GenreList.tsx
  frontend/src/pages/list/POList.tsx
  frontend/src/pages/list/SRList.tsx
  frontend/src/pages/list/VendorList.tsx
  frontend/src/util/AddNewRow.tsx
  frontend/src/util/ClickCheck.tsx
Labels: bug, frontend

#442 [Front-End] Refactored Book Detail Page Mostly done.
  frontend/src/apis/BooksAPI.tsx
  frontend/src/components/popups/ConfirmPopup.tsx
  frontend/src/pages/detail/BookDetail.tsx
  frontend/src/pages/detail/BookDetailLineItems.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: frontend, refactor

#439 Implement is_deletable flag for PO, SR, and BB
  backend/buybacks/serializers.py
  backend/purchase_orders/serializers.py
  backend/purchase_orders/views.py
  backend/sales/serializers.py
Labels: feature, backend

#441 Book Not Sold By Vendor Buyback CSV Import Error
  backend/helpers/csv_reader.py
Labels: feature, backend

#444 BugFix Image Backend
  backend/books/isbn.py
  backend/books/migrations/0015_rename_url_bookimage_image_url.py
  backend/books/models.py
  backend/books/serializers.py
  backend/books/utils.py
  backend/books/views.py
Labels: bug, backend

#446 Image integration fixes/Image uploader UI
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/Conversions.tsx
  frontend/src/components/buttons/DeleteButton.tsx
  frontend/src/components/uploaders/ImageFileUploader.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/BookDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: bug, frontend, ui/ux/visual design

#451 Bugfix Sort by last month sales & Fix Initial Image Get Endpoint
  backend/books/isbn.py
  backend/books/serializers.py
  backend/books/views.py
Labels: bug, backend

#452 Add book_isbn field to listed purchases, sales, and buybacks
  backend/buybacks/serializers.py
  backend/helpers/base_serializers.py
  backend/purchase_orders/serializers.py
  backend/sales/serializers.py
Labels: feature, backend

#450 [Front-End] Login page CSS and Logo Transparency
  frontend/src/ImaginarySoftwareLogo.jpeg
  frontend/src/ImaginarySoftwareLogo.png
  frontend/src/components/Navbar.tsx
  frontend/src/pages/auth/LoginPage.tsx
Labels: frontend, refactor

#453 BugFix Serve image server url not static image
  backend/books/isbn.py
  backend/books/views.py
Labels: bug, backend

#456 [BugFix] Backend SCP Asynchronous Update & Change Production to Gunicorn
  backend/Dockerfile
  backend/books/scpconnect.py
  backend/gunicorn.conf.py
  backend/requirements.txt
  backend/static/default.jpeg
Labels: bug, backend

#454 Image bugfixes
  frontend/src/apis/BooksAPI.tsx
  frontend/src/apis/Conversions.tsx
  frontend/src/components/Toast.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/util/IDOperations.tsx
Labels: bug, frontend, integration

#455 [Front-End] Book Detail Delete button & Book Add Table CSS
  frontend/src/components/dropdowns/GenreDropdown.tsx
  frontend/src/components/uploaders/ImageFileUploader.tsx
  frontend/src/css/TableCell.css
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/detail/BookDetail.tsx
  frontend/src/pages/detail/BookDetailLineItems.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: feature, frontend, refactor

#457 Indicate when shelf space is estimated
  frontend/src/pages/ShelfCalculator.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: feature, frontend

#459 Improve assisted selection for books
  frontend/src/apis/Conversions.tsx
  frontend/src/components/dropdowns/BookDropdown.tsx
  frontend/src/pages/ShelfCalculator.tsx
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
Labels: feature, frontend

#461 Show computed fields on book detail
  frontend/src/apis/Conversions.tsx
  frontend/src/pages/ShelfCalculator.tsx
  frontend/src/pages/detail/BookDetail.tsx
  frontend/src/pages/list/BookList.tsx
Labels: feature, frontend

#462 [Front-End] Detail Lists CSS, Vendor Percent Debug, and Column Toggle
  frontend/src/css/TableCell.css
  frontend/src/pages/ShelfCalculator.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/VendorDetail.tsx
  frontend/src/pages/list/BookList.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: bug, frontend

#460 Handle CSVs with BOMs
  backend/helpers/csv_format_checker.py
  backend/helpers/csv_reader.py
Labels: bug, backend

#463 413 sorting on last month sales and best buyback rate
  backend/books/serializers.py
  backend/books/views.py
Labels: bug, backend

#464 CSV Error handling
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/errors/CSVImportErrors.tsx
Labels: feature, frontend

#467 Handle error gracefully is csv import doesn't have isbn header
  backend/helpers/csv_reader.py
Labels: bug, backend

#472 BugFix Backend Sort by BuyBack
  backend/vendors/views.py
Labels: bug, backend

#470 CSV fixes/book detail leave field empty
  frontend/src/apis/BuyBackAPI.tsx
  frontend/src/apis/Conversions.tsx
  frontend/src/apis/PurchasesAPI.tsx
  frontend/src/apis/SalesAPI.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/errors/CSVImportErrors.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: frontend

#473 bug fixes
  frontend/src/apis/Conversions.tsx
  frontend/src/apis/VendorsAPI.tsx
  frontend/src/components/buttons/CSVEndUserDocButton.tsx
  frontend/src/pages/add/BookAdd.tsx
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/BookDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/list/VendorList.tsx
  frontend/src/util/TableCellEditFuncs.tsx
Labels: bug, frontend

#471 Shelf calc, error message, isbn10 fixes
  frontend/src/apis/BooksAPI.tsx
  frontend/src/components/Toast.tsx
  frontend/src/pages/ShelfCalculator.tsx
  frontend/src/pages/detail/BBDetail.tsx
  frontend/src/pages/detail/BookDetail.tsx
  frontend/src/pages/detail/PODetail.tsx
  frontend/src/pages/detail/SRDetail.tsx
  frontend/src/pages/detail/errors/CSVImportErrors.tsx
  frontend/src/pages/list/BookList.tsx
Labels: frontend

#475 Handle page count and dimensions
  frontend/src/util/TableCellEditFuncs.tsx
Labels: bug, frontend

#497 [BackEnd] Refactor Images Server
  backend/books/isbn.py
  backend/books/migrations/0016_alter_bookimage_book.py
  backend/books/utils.py
  backend/books/views.py
  backend/hypothetical_books_backend/settings.py
  backend/hypothetical_books_backend/urls.py
Labels: backend, refactor

#487 Refactor list pages to use common template
  frontend/src/pages/books/BookList.tsx
  frontend/src/pages/buybacks/BuyBackList.tsx
  frontend/src/pages/genres/GenreList.tsx
  frontend/src/pages/purchases/POList.tsx
  frontend/src/pages/sales/SRList.tsx
  frontend/src/pages/vendors/VendorList.tsx
  frontend/src/templates/list/ListTemplate.tsx
Labels: frontend, refactor

#495 Remove all React Fragment instances
  frontend/src/components/popups/DeletePopup.tsx
  frontend/src/components/templates/DeleteButton.tsx
  frontend/src/pages/genres/GenreList.tsx
Labels: frontend, refactor

#524 [BugFix] Fixed Docker Compose
  docker-compose.yml
Labels: bug, backend

#490 Frontend GitHub action for code linting
  .github/workflows/eslint.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/buttons/SelectSizeButton.tsx
  frontend/src/components/datatable/TableColumns.tsx
  frontend/src/components/uploaders/ImageFileUploader.tsx
  frontend/src/css/Style.tsx
  frontend/src/pages/books/BookAdd.tsx
  frontend/src/pages/books/BookDetailLineItems.tsx
  frontend/src/pages/books/BookList.tsx
  frontend/src/pages/buybacks/BBDetail.tsx
  frontend/src/pages/buybacks/BuyBackList.tsx
  frontend/src/pages/genres/GenreList.tsx
  frontend/src/pages/purchases/PODetail.tsx
  frontend/src/pages/purchases/POList.tsx
  frontend/src/pages/sales/SRDetail.tsx
  frontend/src/pages/sales/SRList.tsx
  frontend/src/pages/sales/SalesReport.tsx
  frontend/src/pages/storeplanner/ShelfCalculator.tsx
  frontend/src/pages/vendors/VendorAdd.tsx
  frontend/src/pages/vendors/VendorList.tsx
  frontend/src/templates/errors/CSVImportErrors.tsx
  frontend/src/templates/list/ListTemplate.tsx
Labels: frontend, devops

#577 [BugFix] Backend Images Endpoint Changed to Local
  .gitignore
  backend/books/isbn.py
  backend/books/utils.py
  backend/books/views.py
  backend/hypothetical_books_backend/settings.py
Labels: bug, backend

#576 [Front-End] Images Fix
  frontend/src/apis/books/BooksAPI.tsx
  frontend/src/components/templates/ImageTemplate.tsx
  frontend/src/components/uploaders/ImageFileUploader.tsx
  frontend/src/pages/books/BookAdd.tsx
  frontend/src/pages/books/BookDetail.tsx
  package-lock.json
Labels: bug, frontend

#579 [BugFix] Quick Fix for Images URL
  backend/books/isbn.py
  backend/hypothetical_books_backend/settings.py
Labels: bug, backend

#580 QuickFix Images
  backend/books/isbn.py
  backend/books/views.py
Labels: bug, backend

#581 Refactor detail views to reuse table component
  frontend/.eslintrc.json
  frontend/src/apis/buybacks/BuybacksConversions.tsx
  frontend/src/apis/purchases/PurchasesConversions.tsx
  frontend/src/apis/sales/SalesConversions.tsx
  frontend/src/components/dropdowns/BookDropdown.tsx
  frontend/src/pages/buybacks/BBDetail.tsx
  frontend/src/pages/buybacks/BuyBackList.tsx
  frontend/src/pages/purchases/PODetail.tsx
  frontend/src/pages/purchases/POList.tsx
  frontend/src/pages/sales/SRDetail.tsx
  frontend/src/pages/sales/SRList.tsx
  frontend/src/templates/inventorydetail/LineItemTableTemplate.tsx
  frontend/src/templates/inventorydetail/validation/LineItemValidator.tsx
  frontend/src/templates/list/ListTemplate.tsx
Labels: frontend, refactor

#587 [BugFix] Added Tab and Newspace
  backend/books/views.py
Labels: bug, backend

#588 [Front-End] User Pages
  frontend/src/apis/users/UserAPI.tsx
  frontend/src/apis/users/UserConversion.tsx
  frontend/src/components/navigation/Navbar.tsx
  frontend/src/components/navigation/Router.tsx
  frontend/src/pages/auth/PasswordChange.tsx
  frontend/src/pages/purchases/PODetail.tsx
  frontend/src/pages/users/UserAdd.tsx
  frontend/src/pages/users/UserList.tsx
  frontend/src/pages/vendors/VendorAdd.tsx
  frontend/src/util/PWValueCheck.tsx
Labels: feature, frontend

#590 [Front-End] User Login Page, and Log out
  frontend/src/apis/auth/AuthAPI.tsx
  frontend/src/apis/users/UserAPI.tsx
  frontend/src/components/navigation/Navbar.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/pages/users/UserAdd.tsx
Labels: feature, frontend

#589 [Front-End] Fixed Back button to go back to previous page
  frontend/src/components/buttons/BackButton.tsx
  frontend/src/pages/books/BookAdd.tsx
  frontend/src/pages/books/BookDetail.tsx
  frontend/src/pages/buybacks/BBDetail.tsx
  frontend/src/pages/genres/GenreAdd.tsx
  frontend/src/pages/genres/GenreDetail.tsx
  frontend/src/pages/purchases/PODetail.tsx
  frontend/src/pages/sales/SRDetail.tsx
  frontend/src/pages/storeplanner/ShelfCalculator.tsx
  frontend/src/pages/vendors/VendorAdd.tsx
  frontend/src/pages/vendors/VendorDetail.tsx
Labels: bug, frontend

#597 [Front-End] User Types and Privileges Setup
  frontend/src/App.tsx
  frontend/src/apis/users/UserAPI.tsx
  frontend/src/components/buttons/AddPageButton.tsx
  frontend/src/components/buttons/DeleteButton.tsx
  frontend/src/components/navigation/Navbar.tsx
  frontend/src/components/navigation/Router.tsx
  frontend/src/index.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/pages/books/BookDetail.tsx
  frontend/src/pages/buybacks/BBDetail.tsx
  frontend/src/pages/genres/GenreDetail.tsx
  frontend/src/pages/purchases/PODetail.tsx
  frontend/src/pages/sales/SRDetail.tsx
  frontend/src/pages/users/UserDetail.tsx
  frontend/src/pages/vendors/VendorDetail.tsx
  frontend/src/permissions/PermissionContext.tsx
  frontend/src/permissions/PermissionProvider.tsx
  frontend/src/permissions/Restricted.tsx
  frontend/src/util/AuthCheck.tsx
  frontend/src/util/NavbarFunctions.tsx
  frontend/src/util/UserTypes.tsx
Labels: feature, frontend

#594 [BackEnd] Refactor Images Add Modify Inheritance
  backend/books/book_images.py
  backend/books/views.py
Labels: backend, refactor

#599 [BugFix] Added Auto-User Add Functionality
  backend/buybacks/serializers.py
  backend/buybacks/views.py
  backend/purchase_orders/serializers.py
  backend/purchase_orders/views.py
Labels: bug, backend

#605 Fix back button linting issue
  frontend/src/pages/users/UserDetail.tsx
Labels: bug, frontend

#607 Implement Happy Case Sales Record
  backend/requirements.txt
  backend/sales/parsers.py
  backend/sales/views.py
Labels: feature, backend

#600 [BugFix] Backend Async ISBN Lookup
  backend/books/isbn.py
  backend/books/views.py
Labels: backend, refactor, performance

#611 [Front-End] Vendor & Genre Detail CSS & Cancel->Reload Page Fix
  frontend/src/pages/genres/GenreDetail.tsx
  frontend/src/pages/vendors/VendorDetail.tsx
Labels: frontend, refactor

#612 [Front-End] List-Views Pagination bar fix for all pages
  frontend/src/components/buttons/AddPageButton.tsx
  frontend/src/components/buttons/SelectSizeButton.tsx
  frontend/src/components/buttons/SelectSizeDropdown.tsx
  frontend/src/components/buttons/ToggleColumnButton.tsx
  frontend/src/components/popups/ToggleColumnPopup.tsx
  frontend/src/pages/books/BookList.tsx
  frontend/src/pages/buybacks/BuyBackList.tsx
  frontend/src/pages/genres/GenreList.tsx
  frontend/src/pages/purchases/POList.tsx
  frontend/src/pages/sales/SRList.tsx
  frontend/src/pages/users/UserList.tsx
  frontend/src/pages/vendors/VendorList.tsx
  frontend/src/templates/list/ListTemplate.tsx
Labels: frontend, refactor

#613 Handle Sales Records Exceptions
  backend/requirements.txt
  backend/sales/parsers.py
  backend/sales/xmlschema.xsd
Labels: feature, backend

#610 [Front-End] Book Detail Detail View Refactor
  frontend/src/components/text/TextLabels.tsx
  frontend/src/components/text/TextWrapperNullableNumberEditor.tsx
  frontend/src/pages/books/BookDetail.tsx
Labels: frontend, refactor

#614 List view text highlight bugfix
  frontend/src/templates/list/ListTemplate.tsx
Labels: bug, frontend

#617 Access token bugfixes
  frontend/src/App.tsx
  frontend/src/components/navigation/Navbar.tsx
  frontend/src/components/navigation/Router.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/pages/auth/PasswordChange.tsx
  frontend/src/pages/users/UserDetail.tsx
  frontend/src/util/NavbarFunctions.tsx
  frontend/src/util/auth/CheckLoginStatus.tsx
  frontend/src/util/auth/PWCheck.tsx
  frontend/src/util/auth/PWValueCheck.tsx
  frontend/src/util/auth/UserTypes.tsx
Labels: bug, frontend

#620 Refactor shelf calculator to allow reuse of logic
  frontend/src/pages/books/BookDetail.tsx
  frontend/src/pages/casedesigner/ShelfCalculator.tsx
  frontend/src/pages/casedesigner/util/Calculations.tsx
  frontend/src/pages/casedesigner/util/Updaters.tsx
Labels: frontend, refactor

#615 Bugfix: Buyback autofill unit buyback price
  frontend/src/pages/buybacks/BBDetail.tsx
  frontend/src/pages/purchases/PODetail.tsx
  frontend/src/pages/sales/SRDetail.tsx
  frontend/src/templates/inventorydetail/LineItemTableTemplate.tsx
Labels: bug, frontend

#619 Case designer list view and API scaffolding
  frontend/src/apis/casedesigner/CaseDesignerAPI.tsx
  frontend/src/apis/casedesigner/CaseDesignerConversions.tsx
  frontend/src/components/navigation/Navbar.tsx
  frontend/src/components/navigation/Router.tsx
  frontend/src/pages/books/BookDetail.tsx
  frontend/src/pages/casedesigner/BookcaseDetail.tsx
  frontend/src/pages/casedesigner/BookcaseList.tsx
  frontend/src/pages/casedesigner/ShelfCalculator.tsx
  frontend/src/pages/casedesigner/util/Calculations.tsx
  frontend/src/pages/casedesigner/util/Updaters.tsx
Labels: feature, frontend

#616 [Front-End] Book Add CSS and Functionality Changes
  frontend/src/components/datatable/DeleteColumn.tsx
  frontend/src/components/dropdowns/GenreDropdown.tsx
  frontend/src/components/templates/DeleteButton.tsx
  frontend/src/css/Style.tsx
  frontend/src/css/TableCell.css
  frontend/src/pages/books/BookAdd.tsx
Labels: frontend, refactor

#631 [Front-End] Submit Button Disable for all Add Pages
  frontend/src/pages/books/BookAdd.tsx
  frontend/src/pages/buybacks/BBDetail.tsx
  frontend/src/pages/genres/GenreAdd.tsx
  frontend/src/pages/purchases/PODetail.tsx
  frontend/src/pages/vendors/VendorAdd.tsx
Labels: frontend, refactor

#625 Create permissions for limiting body size to 1 MB and only allowing requests from book hook IP
  backend/sales/sales_record_permissions.py
  backend/sales/urls.py
  backend/sales/views.py
Labels: feature, backend

#638 [Front-End] Pagination Bar Fix # 2
  frontend/src/apis/books/BooksAPI.tsx
  frontend/src/apis/buybacks/BuyBackAPI.tsx
  frontend/src/apis/casedesigner/CaseDesignerAPI.tsx
  frontend/src/apis/genres/GenresAPI.tsx
  frontend/src/apis/purchases/PurchasesAPI.tsx
  frontend/src/apis/sales/SalesAPI.tsx
  frontend/src/apis/vendors/VendorsAPI.tsx
  frontend/src/components/dropdowns/SelectSizeDropdown.tsx
  frontend/src/pages/books/BookList.tsx
  frontend/src/pages/buybacks/BuyBackList.tsx
  frontend/src/pages/casedesigner/BookcaseList.tsx
  frontend/src/pages/genres/GenreList.tsx
  frontend/src/pages/purchases/POList.tsx
  frontend/src/pages/sales/SRList.tsx
  frontend/src/pages/vendors/VendorList.tsx
  frontend/src/templates/list/ListTemplate.tsx
Labels: frontend, refactor

#636 [BugFix] Fixed Remote Addr Issue
  backend/sales/sales_record_permissions.py
Labels: bug, backend

#633 [BackEnd] Add Feature Inventory Correction
  backend/books/exceptions.py
  backend/books/migrations/0017_bookinventorycorrection.py
  backend/books/migrations/0018_alter_bookinventorycorrection_book.py
  backend/books/models.py
  backend/books/serializers.py
  backend/books/urls.py
  backend/books/views.py
Labels: feature, backend

#621 [Front-End] Sales Record Refactor
  frontend/src/apis/books/BooksAPI.tsx
  frontend/src/apis/books/BooksConversions.tsx
  frontend/src/apis/buybacks/BuyBackAPI.tsx
  frontend/src/apis/sales/SalesAPI.tsx
  frontend/src/apis/sales/SalesConversions.tsx
  frontend/src/components/navigation/Navbar.tsx
  frontend/src/components/navigation/Router.tsx
  frontend/src/pages/books/BookDetailLineItems.tsx
  frontend/src/pages/buybacks/BBDetail.tsx
  frontend/src/pages/sales/SRDetail.tsx
  frontend/src/pages/sales/SRList.tsx
Labels: feature, frontend

#635 [Front-End] User List
  frontend/src/apis/users/UserAPI.tsx
  frontend/src/pages/users/UserDetail.tsx
  frontend/src/pages/users/UserList.tsx
Labels: feature, frontend

#649 Add `num_related_books` field to book list and book detail
  backend/books/migrations/0017_relatedbookgroup_book_related_books_group.py
  backend/books/migrations/0018_rename_related_books_group_book_related_book_group.py
  backend/books/models.py
  backend/books/serializers.py
  backend/books/views.py
Labels: feature, backend

#652 [BugFix] Fixed Migration Merge Conflict
  backend/books/migrations/0019_merge_20230323_1818.py
Labels: bug, backend

#651 Allow user to edit/delete displayed books on case designer
  frontend/src/apis/casedesigner/CaseDesignerConversions.tsx
  frontend/src/pages/casedesigner/detail/AddBookPopover.tsx
  frontend/src/pages/casedesigner/detail/BookcaseDetailTable.tsx
  frontend/src/pages/casedesigner/detail/DnDComponents.tsx
  frontend/src/pages/casedesigner/detail/DndFunctions.tsx
Labels: feature, frontend

#655 Implement case designer save/save-as and edit/cancel functionality
  frontend/src/components/popups/ConfirmPopup.tsx
  frontend/src/pages/books/BookDetail.tsx
  frontend/src/pages/buybacks/BBDetail.tsx
  frontend/src/pages/casedesigner/BookcaseList.tsx
  frontend/src/pages/casedesigner/detail/BookcaseDetail.tsx
  frontend/src/pages/casedesigner/detail/BookcaseDetailTable.tsx
  frontend/src/pages/genres/GenreDetail.tsx
  frontend/src/pages/purchases/PODetail.tsx
  frontend/src/pages/users/UserDetail.tsx
  frontend/src/pages/vendors/VendorAdd.tsx
  frontend/src/pages/vendors/VendorDetail.tsx
Labels: feature, frontend

#656 Show date and time on bookcase list
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/templates/DateTemplate.tsx
  frontend/src/pages/casedesigner/BookcaseList.tsx
  frontend/src/util/DateOps.tsx
Labels: feature, frontend

#658 [Front-End] Inventory Correction
  frontend/src/apis/books/BooksAPI.tsx
  frontend/src/apis/books/BooksConversions.tsx
  frontend/src/css/MiscellaneousCSS.css
  frontend/src/pages/books/BookAdd.tsx
  frontend/src/pages/books/BookDetail.tsx
  frontend/src/pages/books/BookDetailLineItems.tsx
  frontend/src/pages/books/BookList.tsx
  frontend/src/util/CSSFunctions.tsx
Labels: feature, frontend

#657 Require bookcase name to be unique
  backend/case_designer/migrations/0007_alter_bookcase_name.py
  backend/case_designer/models.py
  frontend/src/apis/casedesigner/CaseDesignerAPI.tsx
  frontend/src/pages/casedesigner/detail/BookcaseDetail.tsx
Labels: feature, frontend

#659 Restrict actions on bookcase detail when not editable
  frontend/src/pages/casedesigner/detail/BookcaseDetail.tsx
  frontend/src/pages/casedesigner/detail/BookcaseDetailTable.tsx
  frontend/src/pages/casedesigner/detail/DnDComponents.tsx
Labels: feature, frontend

#661 Bookcase dynamic shelf space calculation
  backend/case_designer/serializers.py
  frontend/src/apis/casedesigner/CaseDesignerAPI.tsx
  frontend/src/apis/casedesigner/CaseDesignerConversions.tsx
  frontend/src/pages/books/BookList.tsx
  frontend/src/pages/casedesigner/BookcaseList.tsx
  frontend/src/pages/casedesigner/ShelfCalculator.tsx
  frontend/src/pages/casedesigner/detail/AddBookPopover.tsx
  frontend/src/pages/casedesigner/detail/BookcaseDetail.tsx
  frontend/src/pages/casedesigner/detail/BookcaseDetailTable.tsx
  frontend/src/pages/casedesigner/detail/DndFunctions.tsx
  frontend/src/pages/casedesigner/util/Calculations.tsx
  frontend/src/pages/casedesigner/util/Updaters.tsx
Labels: feature, frontend

#660 Implement Related Books
  backend/books/isbn.py
  backend/books/serializers.py
  backend/books/urls.py
  backend/books/views.py
Labels: feature, backend

#670 [BugFix] Made Username Case Insensitive
  backend/authapp/models.py
  backend/authapp/views.py
Labels: bug, backend

#677 [BugFix] Changed PW URL
  backend/authapp/urls.py
  backend/authapp/views.py
Labels: bug, backend

#674 Fixed Genre Name Case-Insensitive
  backend/genres/serializers.py
  backend/genres/views.py
Labels: bug, backend

#679 Remove Invalid Sales Error Checking in Sales Report
  backend/sales/views.py
Labels: bug, backend

#680 Remove sales below zero prevention for creation of sales records
  backend/books/migrations/0020_alter_book_stock.py
  backend/books/models.py
  backend/sales/serializers.py
Labels: bug, backend

#676 Show more information on bookcase detail and cleanup CSS
  backend/authapp/views.py
  backend/books/views.py
  backend/buybacks/views.py
  backend/case_designer/views.py
  backend/genres/views.py
  backend/purchase_orders/views.py
  backend/sales/views.py
  frontend/src/pages/casedesigner/detail/AddBookPopover.tsx
  frontend/src/pages/casedesigner/detail/BookcaseDetail.tsx
  frontend/src/pages/casedesigner/detail/BookcaseDetailTable.tsx
  frontend/src/pages/casedesigner/detail/DnDComponents.tsx
  frontend/src/util/NumberOps.tsx
Labels: feature, frontend

#678 Vendors and genres detail/add page bugfixes
  frontend/src/apis/vendors/VendorsAPI.tsx
  frontend/src/pages/books/BookAdd.tsx
  frontend/src/pages/genres/GenreAdd.tsx
  frontend/src/pages/genres/GenreDetail.tsx
  frontend/src/pages/vendors/VendorAdd.tsx
  frontend/src/pages/vendors/VendorDetail.tsx
Labels: bug, frontend

#682 CSV import frontend bugfixes
  frontend/src/apis/buybacks/BuybacksConversions.tsx
  frontend/src/apis/purchases/PurchasesConversions.tsx
  frontend/src/templates/inventorydetail/LineItemTableTemplate.tsx
Labels: bug, feature

#672 [Front-End] Related books
  frontend/src/apis/books/BooksAPI.tsx
  frontend/src/apis/books/BooksConversions.tsx
  frontend/src/components/datatable/TableColumns.tsx
  frontend/src/pages/books/BookAdd.tsx
  frontend/src/pages/books/BookDetail.tsx
  frontend/src/pages/books/BookDetailRelatedBooks.tsx
  frontend/src/pages/books/BookList.tsx
Labels: feature, frontend

#691 Frontend users bugfixes
  frontend/src/App.tsx
  frontend/src/apis/auth/AuthAPI.tsx
  frontend/src/apis/auth/AuthConversions.tsx
  frontend/src/apis/users/UserAPI.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/pages/users/UserDetail.tsx
  frontend/src/pages/users/UserList.tsx
Labels: bug, frontend

#688 Prevent shelf space and days of supply from becoming negative when there is a negative inventory
  backend/books/serializers.py
Labels: bug, backend

#683 (inf) should have parentheses around it
  frontend/src/apis/books/BooksConversions.tsx
  frontend/src/pages/books/BookDetail.tsx
Labels: frontend, ui/ux/visual design

#692 Buyback CSV import & submit bugfix
  frontend/src/pages/buybacks/BBDetail.tsx
Labels: bug, frontend

#694 Book list toggle column button for users bugfix
  frontend/src/components/buttons/ToggleColumnButton.tsx
Labels: bug, frontend

#687 Add ability to read $ on input csv upload
  backend/helpers/csv_reader.py
Labels: bug, backend

#696 [Front-End] Bookcase issues and more
  frontend/src/components/buttons/AddPageButton.tsx
  frontend/src/components/buttons/DeleteButton.tsx
  frontend/src/components/buttons/EditCancelDetailButton.tsx
  frontend/src/components/navigation/Router.tsx
  frontend/src/pages/casedesigner/BookcaseList.tsx
  frontend/src/pages/casedesigner/detail/AddBookPopover.tsx
  frontend/src/pages/casedesigner/detail/BookcaseDetail.tsx
  frontend/src/pages/genres/GenreDetail.tsx
  frontend/src/pages/sales/SRList.tsx
  frontend/src/permissions/Restricted.tsx
Labels: bug, frontend

#697 [Front-End] Username display on Navbar QuickFix
  frontend/src/App.tsx
  frontend/src/components/navigation/Navbar.tsx
  frontend/src/pages/auth/LoginPage.tsx
Labels: bug, frontend

#698 [Front-End] Ensure all API request are error caught, move shelf calc button
  frontend/src/pages/books/BookList.tsx
  frontend/src/pages/buybacks/BuyBackList.tsx
  frontend/src/pages/casedesigner/BookcaseList.tsx
  frontend/src/pages/genres/GenreList.tsx
  frontend/src/pages/purchases/POList.tsx
  frontend/src/pages/sales/SRList.tsx
  frontend/src/pages/sales/SalesReport.tsx
  frontend/src/pages/users/UserList.tsx
  frontend/src/pages/vendors/VendorList.tsx
Labels: bug, frontend

#695 [BugFix] Fixed Admin Permissions
  backend/authapp/serializers.py
  backend/authapp/utils.py
  backend/authapp/views.py
Labels: bug, backend

#714 [QuickFix] Fixed User Permissions
  backend/authapp/utils.py
Labels: bug, backend

#699 Book add and submit button changes
  frontend/src/apis/books/BooksAPI.tsx
  frontend/src/pages/books/BookAdd.tsx
  frontend/src/pages/buybacks/BBDetail.tsx
  frontend/src/pages/genres/GenreAdd.tsx
  frontend/src/pages/purchases/PODetail.tsx
  frontend/src/pages/vendors/VendorAdd.tsx
Labels: bug, frontend, ui/ux/visual design

#700 Allow book dragging to new shelf in case designer
  frontend/src/pages/casedesigner/detail/DnDComponents.tsx
  frontend/src/pages/casedesigner/util/Calculations.tsx
Labels: bug, frontend

#701 Don't allow user to view book detail for ghost book
  frontend/src/pages/books/BookDetail.tsx
Labels: bug, frontend

#702 Use asterisk to show shelf space estimation
  frontend/src/pages/books/BookDetail.tsx
  frontend/src/pages/books/BookList.tsx
  frontend/src/pages/casedesigner/ShelfCalculator.tsx
  frontend/src/pages/casedesigner/detail/DnDComponents.tsx
Labels: frontend, ui/ux/visual design

#703 Redirect to login page if access token is invalid
  frontend/src/App.tsx
Labels: bug, frontend

#705 Allow user to highlight on PO/SR/BB detail page
  frontend/src/templates/inventorydetail/LineItemTableTemplate.tsx
Labels: frontend, ui/ux/visual design

#707 Fixed save-as then save bug on bookcase detail
  frontend/src/components/Toast.tsx
  frontend/src/pages/casedesigner/detail/BookcaseDetail.tsx
Labels: bug, frontend

#709 Allow regular users to delete books on bookcase designer
  frontend/src/pages/casedesigner/detail/AddBookPopover.tsx
  frontend/src/pages/casedesigner/detail/BookcaseDetail.tsx
Labels: bug, frontend

#710 Fix books dropdown bug on buyback modify page
  frontend/src/pages/buybacks/BBDetail.tsx
Labels: bug, frontend

#711 Set isbn10/publisher to "Unknown" when not given from external API
  frontend/src/apis/books/BooksConversions.tsx
  frontend/src/pages/books/BookDetailRelatedBooks.tsx
Labels: bug, frontend

#712 Add number of related books to book add page
  frontend/src/pages/books/BookAdd.tsx
  frontend/src/pages/books/BookDetailLineItems.tsx
Labels: feature, frontend

#716 [BugFix] Sorting by computed fields on book list doesn't work when a genre is selected
  backend/books/views.py
Labels: bug, backend

#715 [BugFix] Add num_related_books to CSV Export
  backend/helpers/book_switch.py
  backend/helpers/csv_column_headers.py
  backend/helpers/csv_writer.py
Labels: bug, backend

#717 [Front-End] Book Add CSS fixes
  frontend/src/pages/books/BookAdd.tsx
  frontend/src/pages/books/BookDetailRelatedBooks.tsx
Labels: frontend, refactor

#718 [Front-End] Sales Report Calendar Sizing Bug
  frontend/src/pages/sales/SalesReport.tsx
Labels: bug, frontend

#708 Update CSV import for buybacks to display default unit buyback price if no buyback price is given in the CSV
  backend/helpers/csv_reader.py
Labels: backend

#704 Shelf space and days of supply can't be negative on book detail page
  frontend/src/pages/books/BookDetail.tsx
Labels: bug, frontend

#722 Vendor Detail page is set to Not Modify on Failure Fix
  frontend/src/pages/vendors/VendorDetail.tsx
Labels: bug, frontend

#733 Change CSV import headers to unit_price to match new specification
  backend/helpers/csv_column_headers.py
  backend/helpers/csv_format_checker.py
  backend/helpers/csv_reader.py
  frontend/src/apis/buybacks/BuyBackAPI.tsx
  frontend/src/apis/buybacks/BuybacksConversions.tsx
  frontend/src/apis/purchases/PurchasesAPI.tsx
  frontend/src/apis/purchases/PurchasesConversions.tsx
  frontend/src/templates/errors/CSVImportErrors.tsx
Labels: frontend, backend

#735 Add boolean flag is_estimated_cost_most_recent to books top ten sales report list
  backend/sales/views.py
Labels: backend

#730 Enable sorting by username on frontend
  frontend/src/apis/buybacks/BuybacksConversions.tsx
  frontend/src/apis/purchases/PurchasesConversions.tsx
Labels: bug, frontend

#731 Enable sorting for publication year
  frontend/src/apis/books/BooksConversions.tsx
Labels: bug, frontend

#736 Indicate estimated cost most recent on sales report
  frontend/src/apis/salesreport/SalesRepAPI.tsx
  frontend/src/apis/salesreport/SalesReportConversions.tsx
  frontend/src/pages/sales/SalesReport.tsx
Labels: frontend

#737 Prevent user from entering book dimensions of 0
  frontend/src/components/text/TextWrapperNullableNumberEditor.tsx
  frontend/src/pages/books/BookAdd.tsx
  frontend/src/pages/books/BookDetail.tsx
Labels: frontend, ui/ux/visual design

#738 Fix PO/BB submit button labels
  frontend/src/pages/buybacks/BBDetail.tsx
  frontend/src/pages/purchases/PODetail.tsx
Labels: frontend, ui/ux/visual design

#729 Shelf calculator/bookcase designer bugfixes
  frontend/src/pages/casedesigner/ShelfCalculator.tsx
  frontend/src/pages/casedesigner/detail/AddBookPopover.tsx
  frontend/src/pages/casedesigner/detail/BookcaseDetail.tsx
  frontend/src/pages/casedesigner/util/Calculations.tsx
Labels: bug, frontend

#739 Update CSV end user documentation link
  frontend/src/components/buttons/CSVEndUserDocButton.tsx
Labels: frontend

#742 Add non-alphnumeric character insensitivity to related books matching
  backend/books/isbn.py
  backend/books/related_books.py
  backend/books/views.py
Labels: feature, backend
