Repository ECE-458-Books/ece458books, pull requests merged in 2023-04, with the labels that each got.

#763 Fix date parsing in Firefox
  frontend/src/util/DateOps.tsx
Labels: bug, frontend

#774 Bookcase planogram generator
  backend/case_designer/planogram.py
  backend/case_designer/urls.py
  backend/case_designer/views.py
  backend/requirements.txt
  frontend/src/apis/casedesigner/CaseDesignerAPI.tsx
  frontend/src/pages/casedesigner/detail/BookcaseDetail.tsx
  package-lock.json
Labels: feature, frontend, backend

#766 [Front-End] Related Book Row Click moves Viewport Up
  frontend/src/pages/books/BookDetail.tsx
Labels: bug, frontend

#775 Improve Related Books Algo
  backend/books/isbn.py
  backend/books/related_books.py
  backend/books/views.py
Labels: feature, backend

#767 [Front-End] Mobile Interface Done
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/navigation/MobileRouter.tsx
  frontend/src/components/text/TextLabels.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/pages/books/BookAdd.tsx
  frontend/src/pages/books/BookDetail.tsx
  frontend/src/pages/books/BookDetailLineItems.tsx
  frontend/src/pages/books/BookDetailRelatedBooks.tsx
  frontend/src/pages/books/Mobile/BookDetailMobile.tsx
  frontend/src/pages/books/Mobile/BookLookup.tsx
  frontend/src/util/NumberOps.tsx
Labels: feature, frontend

#785 [BackEnd] Create API Endpoint for Remote Inventory Support as Parent
  backend/books/serializers.py
  backend/books/urls.py
  backend/books/utils.py
  backend/books/views.py
Labels: feature, backend

#786 [BugFix] Fixed ISBN10 MaxLength Issue
  backend/books/exceptions.py
  backend/books/serializers.py
Labels: bug, backend

#788 [Front-End] Fixed Some Bugs
  frontend/src/pages/books/BookDetail.tsx
  frontend/src/pages/casedesigner/detail/BookcaseDetail.tsx
  frontend/src/pages/genres/GenreList.tsx
Labels: bug, frontend

#789 [BackEnd] Update API Endpoint for Subsidiary
  backend/books/views.py
Labels: feature, backend

#784 [Front-End] Mobile: Book Lookup was possible on empty search field.
  frontend/src/pages/books/Mobile/BookLookup.tsx
Labels: bug, frontend

#787 [Front-End] Prettier Mobile Detail Page
  frontend/src/components/datatable/TableColumns.tsx
  frontend/src/components/uploaders/ImageFileUploader.tsx
  frontend/src/css/Style.tsx
  frontend/src/pages/books/BookDetailRelatedBooks.tsx
  frontend/src/pages/books/Mobile/BookDetailMobile.tsx
  frontend/src/pages/books/Mobile/BookLookup.tsx
Labels: frontend, ui/ux/visual design

#791 Planogram formatting fixes
  backend/case_designer/planogram.py
  frontend/src/pages/casedesigner/detail/BookcaseDetail.tsx
Labels: feature, frontend, backend

#793 [BackEnd] Added remote books to books list, books initial add, books detail
  backend/books/remote_books.py
  backend/books/serializers.py
  backend/books/views.py
Labels: feature, backend

#794 Add back sales reconciliations
  backend/sales/migrations/0008_salesreconciliation_is_sales_record.py
  backend/sales/models.py
  backend/sales/serializers.py
  backend/sales/urls.py
  backend/sales/views.py
Labels: feature, backend

#795 [BugFix] Performance Improvement on Getting Remote Books
  backend/books/remote_books.py
  backend/books/serializers.py
  backend/books/views.py
Labels: backend, performance

#765 [Front-End] Sales Reconciliation is Back
  frontend/src/apis/books/BooksAPI.tsx
  frontend/src/apis/books/BooksConversions.tsx
  frontend/src/apis/sales/SalesAPI.tsx
  frontend/src/apis/sales/SalesConversions.tsx
  frontend/src/components/buttons/EditCancelDetailButton.tsx
  frontend/src/components/navigation/Router.tsx
  frontend/src/pages/books/BookDetailLineItems.tsx
  frontend/src/pages/sales/SRDetail.tsx
  frontend/src/pages/sales/SRList.tsx
Labels: feature, frontend

#796 Remote books frontend integration
  frontend/src/apis/books/BooksAPI.tsx
  frontend/src/apis/books/BooksConversions.tsx
  frontend/src/components/buttons/ImportFieldButton.tsx
  frontend/src/components/templates/ImageTemplate.tsx
  frontend/src/components/text/TextWrapperNullableNumberEditor.tsx
  frontend/src/css/TableCell.css
  frontend/src/pages/books/BookAdd.tsx
  frontend/src/pages/books/BookDetail.tsx
  frontend/src/pages/books/BookList.tsx
  frontend/src/pages/casedesigner/detail/DnDComponents.tsx
Labels: feature, frontend, integration

#801 [BackEnd] Added Rremote Books Data to CSV Export
  backend/books/views.py
  backend/helpers/book_switch.py
  backend/helpers/csv_column_headers.py
  backend/helpers/csv_writer.py
Labels: feature, backend

#800 [BackEnd] Add Users to Sales Reconciliations
  backend/sales/migrations/0009_salesreconciliation_user.py
  backend/sales/models.py
  backend/sales/ordering_filters.py
  backend/sales/serializers.py
  backend/sales/views.py
Labels: feature, backend

#805 Add retail price suggestion to book lookup
  backend/books/isbn.py
  backend/books/price_suggestion.py
Labels: feature, backend

#804 Update subsidiary data population to use new API
  frontend/src/apis/books/BooksAPI.tsx
  frontend/src/apis/books/BooksConversions.tsx
  frontend/src/pages/books/BookDetail.tsx
  frontend/src/pages/books/BookList.tsx
Labels: frontend, refactor

#809 [BugFix] Fixed Remote Book and Price Suggestion Bug
  backend/books/price_suggestion.py
  backend/books/views.py
  backend/requirements.txt
Labels: bug, backend

#811 [Front-End] Bug Fixing and Sales Reconciliation User Testing
  frontend/src/apis/sales/SalesAPI.tsx
  frontend/src/apis/sales/SalesConversions.tsx
  frontend/src/pages/books/BookDetail.tsx
  frontend/src/pages/books/Mobile/BookDetailMobile.tsx
  frontend/src/pages/books/Mobile/BookLookup.tsx
  frontend/src/pages/sales/SRDetail.tsx
  frontend/src/pages/sales/SRList.tsx
Labels: bug, frontend

#810 Retail price suggestion integration and book lookup refactor
  frontend/src/apis/books/BooksAPI.tsx
  frontend/src/apis/books/BooksConversions.tsx
  frontend/src/pages/books/BookAdd.tsx
Labels: bug, feature, frontend

#812 Only allow quantity to be an integer when adding line items
  frontend/src/templates/inventorydetail/LineItemTableTemplate.tsx
Labels: bug, frontend

#813 Show remote retail price with $ on booklist
  frontend/src/pages/books/BookList.tsx
Labels: bug, frontend

#814 Update book add page item alignment
  frontend/src/components/datatable/TableColumns.tsx
  frontend/src/components/templates/ImageTemplate.tsx
  frontend/src/css/TableCell.css
  frontend/src/pages/books/BookAdd.tsx
  frontend/src/pages/books/BookDetail.tsx
Labels: frontend, ui/ux/visual design

#815 Placeholder "ISBN 13" in book lookup
  frontend/src/pages/books/Mobile/BookLookup.tsx
Labels: frontend, ui/ux/visual design

#816 Remote Dimensions Rounded to Two Decimals Fix
  frontend/src/pages/books/BookDetail.tsx
Labels: bug, frontend

#817 Round dimensions to two decimal places on all pages
  frontend/src/apis/books/BooksConversions.tsx
  frontend/src/pages/books/BookDetail.tsx
Labels: bug, frontend
